/* Shared Layout */
html, body {
    color: whitesmoke;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;    
    background: rgb(18, 18, 26);    
}

.body-content {
    z-index: 1;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

/* Navigation */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 8vh;
    background-color: rgb(18, 18, 26);
}

.navchild {
    margin: auto;
}

a.navchild {
    font-style: normal;
    font-size: 1.7vw;
    color: whitesmoke;
}

#nav-home {
    height: 8vh;
    object-fit: contain;
}

/* Grid Layout Helper for Flexbox */
.custom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.custom-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2 {
    font-size: 2vw;
    text-decoration: underline;
}

li {
    font-size: 1.3vw;
}

/* Handle Mobile */
@media(max-width:1024px) {
    .body-content {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .navbar {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    a.navchild {
        font-size: 1em;
    }

    .custom-row {
        flex-direction: column;
    }

    body {
        font-size: 2em;
    }

    h2 {
        font-size: 2em;
    }

    li {
        font-size: 1em;
    }
}
