@import url('reset.css');
@import url('atoms.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
	/* Colors */
	--background: #121113;
	--foreground: #f7f7f2;
	--accent: #899878;
	--accent2: #f06543;
	--foreground-alt: #e4e6c3;
	--background-alt: #222725;

	/* Theme */
	--card-background: var(--background-alt);

	/* Font */
	--font-family: 'Roboto Mono', sans-serif;

	/* Spacing */
	--padding: 32px;
	--border-radius: 12px;

	/* Transition */
	--transition: 0.2s ease;
}

body {
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--background);
	color: var(--foreground);
}

#app {
	padding: var(--padding);
	max-width: 1280px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}
