@import url('reset.css');
@import url('atoms.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
	/* Colors */
	--background: #121113;
	--foreground: #f7f7f2;
	--accent: #899878;
	--accent2: #f06543;
	--foreground-alt: #e4e6c3;
	--background-alt: #222725;

	/* Theme */
	--card-background: var(--background-alt);

	/* Font */
	--font-family: 'Roboto Mono', sans-serif;

	/* Spacing */
	--padding: 24px;
	--border-radius: 8px;

	/* Transition */
	--transition: 0.2s ease;

	@media (width <= 768px) {
		--padding: 12px;
	}
}

html {
	height: 100%;
}

body {
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--background);
	color: var(--foreground);
	line-height: normal;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	gap: var(--padding);
	flex-direction: column;
	padding: var(--padding);
	min-height: calc(100% - var(--padding) * 2);

	main {
		margin: auto;
	}
}

a {
	text-decoration: none;
}
