<!DOCTYPE html>
<html>

<head>
    <!-- HTML5 Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="{{ site.description }}">
    
    <!-- Google Verification -->
    <meta name="google-site-verification" content="lpayYuCzqYUeHMpbJIxdqvbTA4lIFu73svdxJYRkJy0" />
    
    <!-- Title -->
    <title>Mellott-Lillie | {{ page.title }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
          crossorigin="anonymous">
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css" />
    {{ page.custom_css }}
</head>

<body>
    <!-- Navigation Section -->
    <nav class="navbar navbar-fixed-top">
        <a class="navchild" href="/."><img id="nav-home" src="/images/favicon-256-min.png" alt="HOME"></a>
        <a class="navchild" href="/pages/resume">RESUME</a>
        <a class="navchild" href="/pages/projects">PROJECTS</a>
        <a class="navchild" href="/pages/about">ME</a>
    </nav>
    
    <!-- Individual Page Content -->
    <div class="body-content">
        {{ content }}
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
            crossorigin="anonymous"></script>   
</body>
</html>