<!DOCTYPE html>
<html>

<head>
    <!-- HTML5 Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}">

    <!-- Title -->
    <title>Mellott-Lillie | {{ page.title }}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/site.css" />
    {{ page.custom_css }}
</head>

<body>
    <!-- Navigation Section -->
    <nav class="navbar navbar-fixed-top">
        <a class="navchild" href="/Resume">RESUME</a>
        <a class="navchild" href="/Projects">PROJECTS</a>
        <a class="navchild" href="."><img id="nav-home" src="/images/favicon-256-min.png" alt="HOME"></a>
        <a class="navchild" href="/About">ABOUT</a>
        <a class="navchild" href="/Contact">CONTACT</a>
    </nav>
    
    <!-- Individual Page Content -->
    <div class="body-content">
        {{ content }}
    </div>

    <!-- Scripts -->
    <script src="/lib/jquery/dist/jquery.js"></script>  
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>      
</body>
</html>